.filterCount {
  font-size: x-small;
}

:global {
  .ant-card.filtercard {
    margin-bottom: 16px;
  }

  .ant-card.filtercard > .ant-card-body {
    padding: 16px;
  }

  .ant-card.popoverfiltercard,
  .ant-card.popoverfiltercard > .ant-card-body {
    margin: 0 8px 0 0;
    padding: 0;
  }
}
