@import '~antd/es/style/themes/default.less';

.tooltiptable tr th,
.tooltiptable tr td {
  padding: 8px;
  border: 1px solid @table-border-color;
  border-collapse: collapse;
  border-spacing: 0;
}

.tooltiptable th {
  text-align: center;
}

.tooltiptable .tdvalue {
  text-align: right;
}

.staticcard {
  :global {
    .ant-pro-card-body {
      padding: 20px 24px 8px;
    }

    .ant-pro-statistic-card-footer {
      margin-top: 2px;
      padding-top: 8px;
    }
  }
}
